*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1D1D23;
}

#activeTimers {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
   border-radius: 20px;
  }
  .timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #34344A;
    margin: 10px 0px;
    width: 849px;
    height: 110px;
  }
  #container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  #input{
width: 849px;
height: 110px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 20px;
background: #34344A;

  }
  span{
    color:white ;
    font-size: 22px;
    margin-right: 5px;
  }
 label{
  color: aliceblue;
 }
  input  {
    color: aliceblue;
    border: none;
    width:40px ;
    height:20px;
    margin-inline: 5px;
    font-size: 25px;
  }
  
  input::placeholder {
    color: white;
  }
  
  .hide-value {
    color: transparent;
  }
  #set , #stopBtn{
 border: none;
 width: 70px;
height: 30px;
border-radius: 20px;
background: #F0F757;
color:black
  }
 #deleteBtn{
  border: none;
 width: 70px;
height: 30px;
border-radius: 20px;
background: #ef0505;
color:black
 }
  .btn:hover{
    cursor: pointer;
   transform: scale(1.2);
   margin-left: 10px;
  }
  
  #timerDisplay {
    display: inline-block;
    color: beige;
    font-size: 28px;
    margin-right: 60px;
  }
  #audio{
    display: none;
  }
  h1{
    color: aliceblue;
    margin-bottom: 5px;
  }

  @media only screen and (max-width: 600px) {
    #input,#activeTimers{
      width:92vw ;
    
    }
    span{
      font-size: 14px;
      
    }
     input{
      margin-inline: 2px;
     }
  #timerDisplay {
    font-size: 16px;
    margin-right: 10px;
  }
  .timer-container{
    width: 80vw;
  }
  }